* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 12px;
}

window#waybar {
    background: #1A1A1A;
    color: #E0E0E0;
    border: 2px solid #3A3A3A;
}

#workspaces {
    margin: 0;
    padding: 0;
}

#workspaces button {
    color: #e0e0e0;
    margin: 0;
    padding: 0 10px;
    border-radius: 0;
}

#workspaces button.active {
    background: #3a3a3a;
    color: #e0e0e0;
    border-radius: 0;
}

#workspaces button:hover {
    background: #3a3a3a;
    border-radius: 0;
}

#cpu,
#memory,
#pulseaudio,
#pulseaudio.muted,
#network {
    color: #a4ada9;
    margin-right: 10px;
}

#custom-clock-icon,
#clock {
    color: #6c757d;
    margin-right: 10px;
}

tooltip {
    background: #1a1a1a;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
}

tooltip label {
    color: #e0e0e0;
    padding: 8px;
}
