window {
    margin: 0px;
    border: 2px solid #e0e0e0;
    background-color: #1a1a1a;
    font-family: "Iosevka Nerd Font", monospace;
}

#input {
    margin: -1000px;
}

#text {
    margin: 5px;
    color: #e0e0e0;
}

#entry:selected {
    border: none;
    outline: none;
    background-color: #3a3a3a;
}

#entry:selected #text {
    color: #ffffff;
    font-weight: bold;
}
